*{
    font-family: 'Pangolin', cursive;
}

td,tr, table{
    border-top: none;
    border-bottom: none;
    padding: 2px 5px;
    overflow: hidden;
}

th{
    border: none;
    border-left: 1px solid black;
    padding-right: 10px;
    padding-left: 4px;
}

tr:nth-child(even) {
    background: #CCC /* Odd row */
}

tr:nth-child(odd) {
    background: #FFF /* Even row */
}

form{
    width: 300px;
    margin-left: 50px;
}

input[type="text"], textarea{
    float:right;
    width: 175px;
}

input[type="submit"]{
    clear: both;
    float: right;
    margin-top: 25px;
}


input[type="radio"]{
    float: right;
    clear: right;
}

label{
    float: left;
    clear: left;
}

select{
    float: right;
    width: 175px;
}

.container{
    margin-left: 100px;
    width: 700px;
    margin-top: 50px;
}

.Success{
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
    border-radius: 25px;
    color: white;
    padding: 5px;
}

.Fail{
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    border-radius: 25px;
    color: white;
    padding: 5px;
}

/*Menu*/
ul.menu{
    list-style: none;
}

a.menu{
    float: left;
    padding: 4px 7px;
    text-align: center;
    color: black;
}

a.menu:hover{
    text-decoration: none;
    color: black;

}

li.menu{
    width: 100px;
    height: 2em;
    margin-left: 10px;
    background-color: #ccc;
    float: left;
    border-radius: 50px;
}

li.menu:hover{
    background-color: #ddd;
}

#Menu{
    width: 100%;
    height: 1em;
}

/* DEBUGGING */
.xdebug-var-dump{
    min-width: 300px;
    min-height: 300px;
}


/* Login System */

#loginContainer{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

form#Login{
    float: left;
    width: 350px;
}

#Login input[type="text"]{
    float: right;
    clear: right;
}

#Login label{
    float: left;
    clear: left;
}
