td, th, tr, table{
    border: none;
    padding: 2px 5px;
}

form{
    width: 300px;
    margin-left: 50px;
}

input[type="text"]{
    float:right;
    width: 175px;
}
input[type="submit"]{
    clear: both;
    float: right;
    margin-top: 25px;
}

label{
    float: left;
    clear: left;
}

select{
    float: right;
    width: 175px;
}

.container{
    margin-left: 100px;
    width: 700px;
}